<EmberTable as |t|>
  <t.head
    @scrollIndicators={{@scrollIndicators}}
    @widthConstraint={{@widthConstraint}}
    @fillMode={{@fillMode}}
    @columns={{@columns}}
    @sorts={{this.sorts}}
    as |h|
  >
    <h.row class='text-gray-700 text-xs dark:text-gray-200' as |r|>
      <r.cell class='py-2 text-left' as |column columnMeta|>
        <div class='flex items-center'>
        </div>
      </r.cell>
    </h.row>
  </t.head>

  <t.body @rows={{@rows}} as |b|>
    <b.row
      class='text-gray-700 text-xs even:bg-gray-100 odd:bg-gray-200 dark:even:bg-gray-600 dark:odd:bg-gray-700 dark:text-gray-200' as |r|
    >
      <r.cell class='h-10' as |cell column row cellMeta|>
        {{#if column.cellComponent}}
          {{log column.cellComponent}}
          {{#let (component column.cellComponent) as |Wrapper|}}
            {{log Wrapper}}
            <Wrapper>
              {{cell}}
            </Wrapper>
          {{/let}}
        {{else}}
          {{cell}}
        {{/if}}
      </r.cell>
    </b.row>
  </t.body>
</EmberTable>